
form{
  border-radius: 10px;
  padding: 30px;
  // background-color: #d3d3d3;
  background-color: #fff;
  color: #000;
  h1{
    font-family: 'Bebas Neue', cursive;
  }
}
form span {
  color: red;
}

form label span{
  font-size: 12px;
  color: #696969;
}

@media (max-width: 720px) {

}

