
<section class="home container-fluid">
  <h1>Movies Search</h1>

  <section class="buttons">
    <a [routerLink]="['/filmes']"><button class="draw">Listar Filmes</button></a>
  </section>

  <!-- <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" [routerLink]="['/filmes']" class="btn btn-primary">Filmes</a>
    </div>
  </div> -->
</section>


